nav.font {
  padding: 16px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

nav{
  background-color: rgb(255, 255, 255);
  width: 100%;
  top:0%;
  position: fixed;
  right: 0%;
  left: 0%;
  box-shadow: 2px 2px 1px 1px rgba(120, 120, 120, 0.1);
  z-index: 1;
}
.font{
  font-size: 12PX;
}
.font img{
  margin-left: 40px;
  height: 65px;
}
.font header{
  font-size: 20px;
  text-align: center;
  margin-left: 60px;
}
nav ul{
  padding-right: 40px;
text-decoration: none;
}
nav ul li{
  margin-top: 12px;
  display: inline-block;
  padding: 7px 20px;
  font-size: 14px;
  text-decoration: none;
}
nav ul li a{
text-decoration: none;
color: black;
}
.starter img {
  margin-top: 100px;
    height: 450px;
    width: 1200px;
    margin-left: 130px;
}
.gorec{
  font-size: 50px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;

}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background:#ff004f;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  margin-top: 2rem;
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
  
  
}

.btn:hover{
  box-shadow: 0 0 1rem #ff004f;
  color: #323946;
}
.recipe .D-flex .portimg{
  
    flex: 1 1 15;
    border-radius: .5rem;
    border: 1rem solid white;
    box-shadow: 15px 15px 15px rgb(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    width: 240px;
    
}
.recipe .D-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left:100px ;
  margin-right:100px ;
}
.portimg img{
  width:240px;
  height:240px;
}
.portimg1 img{
  width:240px;
  height:440px;
}
.portimg1{
  
  flex: 1 1 15;
  border-radius: .5rem;
  border: 1rem solid white;
  box-shadow: 15px 15px 15px rgb(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  width: 240px;
}
.d-flex2 {
  display: flex;
  margin-top: 120px;
  margin-left: 120px;
  justify-content: space-between;
  margin-right: 270px;
}
.d-flex2 ol li{
  font-size: 19px;
}
.d-flex2 h3{
  font-size: 24px;
}
.d-flex2 h2{
  font-size: 28px;
}
.recipe .D-flex1{
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-right:10px ;
}
.D-flex1 h2{
  margin-left:650px ;
  font-size: 36px;
  margin-top: 30px;
 
}
.rheader h2{
  margin-top: 150px;
  text-align: center;
  font-size: 36px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/


  

